/*Variables para colores*/
:root{
    --verdePrimario: #04342C;
    --verdeSecundario: #0F6E56;
    --verdeCards: #E1F5EE;
    --verdeTexto: #085041;
    --grisBody: #F7F7F7; 
    --blanco: #ffffff;
    --rojoPrimario: #FF3B3B;
    --rojoSecundario: #993C1D;
    --rojoTexto: #4A1B0C;
    --rojoHover: #e03333;
    --rojoCards: #FAECE7;
    --amarilloCard: #FAEEDA;
    --amarilloSecundario: #854F0B;
    --amarilloTexto: #412402;
    --moradoCards: #EEEDFE;
    --moradoSecundario: #534AB7;
    --moradoTexto: #26215C;
}

/*Variables para mixins de displays*/

/*Varibales para la fuente*/

/*Estilos globales del sitio*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
    height: 100%;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}

body{
    font-size: 16px; /*1 rem = 10px*/
    /*Configuración de la fuente del sitio*/
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: var(--grisBody);
    margin: 0; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenedor-centrar{
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

section,div{
    margin: 0rem;
    padding: 0rem;
}

h1,h2,h3,p{
    margin: 0;
}

.texto-principal{
    color: var(--verdePrimario);
    font-size: 5rem;
    font-weight: bold;
}

.texto-secundario{
    font-size: 1.6rem;
    font-weight: 300;
}

/*############### Estilos de interfaz de login ###############*/
.main-login{
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.contenedor-login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.sin-contenedor, .contenedor-login{
    width: 100%;
    min-height: 100vh;
}

.contenido-login{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100vh;
}

@media (max-width: 768px){
    .contenido-login{
        grid-template-columns: repeat(1,1fr);
    }
}

.contenedor-izq{
    background-color: var(--verdeCards);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.contenedor-izq .texto-secundario{
    color: var(--verdePrimario);
    font-size: 2.8rem;
}

@media (max-width: 768px){
    .contenedor-izq .texto-secundario{
        text-align: center;
    }
}

.logo{
    width: 15rem;
}

.contenido-formulario-login{
    border: none;
}

.contenido-formulario-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: var(--blanco);
    height: 100%;
    padding: 5rem;
}

@media (max-width: 768px){
    .contenido-formulario-login{
        text-align: center;
        padding: 2rem;
        
    }
}


.contenido-formulario-login .texto-secundario{
    margin-top: 1rem;
    font-size: 1.8rem;
    color: var(--verdePrimario);
}

.contenedor-campos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contenedor-texto, .contenedor-campos{
    width: 80%;
}

@media (max-width: 400px){
    .contenedor-texto, .contenedor-campos{
        width: 100%;
    }
}

.campo-label{
    color: var(--verdePrimario);
    font-weight: bold;
    font-size: 2rem;
}

@media (max-width: 768px){
    .campo-label{
        text-align: left;
    }
}

.campo{
    padding: 1.5rem;
    border: 1px solid var(--verdePrimario);
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.campo:focus{
    border: 2px solid var(--verdeSecundario);
    background-color: var(--verdeCards);
}

.contenedor-campos .boton-login{
    padding: 1.5rem;
    background-color: var(--verdeSecundario);
    border: none;
    border-radius: 0.5rem;
    color: var(--blanco);
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s;
}

.contenedor-campos .boton-login:hover{
    background-color: var(--verdePrimario);
}

.error{
    color: var(--rojoPrimario);
}

.hidden{
    display: none;
}

.texto-registro{
    text-align: center;
}

.link-registro{
    color: var(--verdeTexto);
    font-weight: bold;
    text-decoration: none;
}

.link-registro:hover{
    text-decoration: underline;
}

/*############### Terminan estilos de interfaz de login ###############*/


/*############### Empiezan estilos de interfaz de dashboard ###############*/
.header{
    background-color: var(--verdePrimario);
}

.logo-dash{
    width: 10rem;
}

/*############### Empiezan estilos de interfaz de dashboard ###############*/

/*############### Empiezan estilos del dashboard ###############*/
/*Estilos de la barra superior*/

.barra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navegacion-principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: unset;
    background-color: unset;
    width: unset;
    transition: unset;
    height: unset;
}

.icono-barras{
    width: 7rem;
    display: none;
}

@media(max-width: 768px){
    .icono-barras{
        display: block;
    }

    .barra .navegacion-principal{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        gap: 2rem;
        padding: 1rem;
        border: none;
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        height: 100vh;
        background-color: var(--verdePrimario);
        transition: transform 0.3s ease;
        transform: translateX(-100%);
    }

    .barra .navegacion-principal.activo{
        transform: translateX(0);
    }
}

/*Menu de navegacion responsive*/
.activo {
  margin-left: -70%;
}
@media (max-width: 768px) {
  .activo {
    margin: unset;
  }
}

.navegacion-principal .opcion-nav-principal{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.navegacion-principal .opcion-nav-principal:hover{
    background-color: var(--verdeSecundario);
    
}

.navegacion-principal .opcion-nav-principal-salir{
    background-color: var(--rojoPrimario);
    border: none;
    border-radius: 1rem;
    padding: 1rem 4rem;
    cursor: pointer;
    color: var(--blanco);
    font-weight: bold;
    font-size: 1.6rem;
    transition: all 0.3s;
}

.opcion-nav-principal-salir:hover{
    background-color: var(--rojoHover);
}


/*############### Terminan estilos del dashboard ###############*/

/*############### Empiezan estilos de las cards del dashboard ###############*/
.main-dashboard{
    margin-bottom: 2rem;
    flex: 1 0 auto;
}

.seccion-bienvenida-dashboard{
    margin-bottom: 2rem;
}

.seccion-bienvenida-dashboard p{
    margin: 1rem;
}

@media(max-width: 768px){
    .seccion-bienvenida-dashboard p{
        text-align: center;
    }
}

.seccion-bienvenida-dashboard .texto-principal{
    font-size: 3.5rem;
    margin-top: 3rem;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

@media(max-width: 768px){
    .cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

.card{
    padding: 2rem 2rem;
    width: 100%;
    border-radius: 1rem;
}

.card .texto-secundario{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.card-verde{
    background-color: var(--verdeCards);
}

.card-verde .texto-secundario{
    color: var(--verdeSecundario);
}

.card-verde .numero-card{
    color: var(--verdeTexto);
    font-weight: 500;
}

.card .numero-card{
    font-size: 3rem;
}

.card-rojo{
    background-color: var(--rojoCards);
}

.card-rojo .texto-secundario{
    color: var(--rojoSecundario);
}

.card-rojo .numero-card{
    color: var(--rojoTexto);
}

.card-amarillo{
    background-color: var(--amarilloCard);
}

.card-amarillo .texto-secundario{
    color: var(--amarilloSecundario);
}

.card-amarillo .numero-card{
    color: var(--amarilloTexto);
}

.card-morado{
    background-color: var(--moradoCards);
}

.card-morado .texto-secundario{
    color: var(--moradoSecundario);
}

.card-morado .numero-card{
    color: var(--moradoTexto);
}

/*############### Terminan estilos de las cards del dashboard ###############*/

/*############### Empiezan estilos de las tablas del dashboard ###############*/

.contenedor-tablas{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1.5rem;
}

@media(max-width: 768px){
    .contenedor-tablas{
        grid-template-columns: 100%;
    }
}

.tabla-citas-hoy, .tabla-notificaciones{
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px #e6e6e6;
}

.contenedor-fila{
    border-bottom: 1px solid #e6e6e6;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.contenedor-fila-cita-hoy{
    display: flex;
}

.encabezado-tabla{
    font-weight: bold;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contenedor-encabezado-tabla-citas-hoy, 
.contenedor-encabezado-tabla-notificaciones{
    background-color: var(--verdeCards);
}

.estado-fila{
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.icon-tabla{
    width: 3rem;
}

.estado-fila-cita-hoy-confirmada{
    background-color: var(--verdeCards);
}

.estado-fila-cita-hoy-pendiente{
    background-color: var(--amarilloCard);
}

.estado-fila-cita-hoy-cancelada{
    background-color: var(--moradoCards);
}

/*############### Terminan estilos de las tablas del dashboard ###############*/

/*############### Empiezan estilos del footer ###############*/

.footer{
    text-align: center;
    background-color: var(--verdePrimario);
    color: var(--blanco);
    padding: 2rem;
}

/*############### Terminan estilos del footer del dashboard ###############*/

/*############### Empiezan estilos de la tabla de animales ###############*/
.contenedor-btn-tabla{
    text-align: end;
    margin: 2rem 0;
}

.btn-registrar{
    background-color: var(--verdePrimario);
    color: var(--blanco);
    border: none;
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;
}

.btn-registrar:hover{
    background-color: var(--verdeSecundario);
}

.btnEditar{
    background-color: rgb(254, 188, 65);
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s;

}

.btnEditar:hover{
    background-color: rgb(230, 170, 58);
}

.btnEliminar{
    background-color: rgb(244, 80, 80);
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s;

}

.btnEliminar:hover{
    background-color: rgb(213, 69, 69);
}

.contenido-tabla{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.tabla{
    background-color: var(--blanco);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 1px 1px 2px #e6e6e6;
    width: 100%;
    min-width: 70rem;
    border-collapse: collapse;
    text-transform: uppercase;
}

.tabla .encabezados-tablas{
    background-color: var(--verdeSecundario);
    color: var(--blanco);
    transition: all 0.3s;
}

.tabla .encabezados-tablas:hover{
    background-color: var(--verdeTexto);
    color: var(--blanco);
}

.tabla tbody tr{
    transition: all 0.3s;
}

.tabla tbody tr:hover{
    background-color: var(--verdeCards);
}

.tabla th,td{
    padding: 1rem;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    
}

/*Estilos fomularios de registro*/

.contenido-formulario{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem;
    border: none;
    background-color: var(--blanco);
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 2px #e6e6e6;
}

.contenido-formulario legend{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color: var(--verdePrimario);
}

.contenido-formulario .boton-registro{
    background-color: var(--verdeSecundario);
    color: var(--blanco);
    border: none;
    border-radius: 1rem;
    padding: 2rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
}

.contenido-formulario .boton-registro:hover{
    background-color: var(--verdeTexto);
}

.contenido-formulario select{
    padding: 1rem;
}
